/*body {
  background-image: url(img/subtle_stripes.png);
}*/



/*.start-game {
  font-size: 24px;
  font-weight: bold;
  border-radius: 25px;
  text-align: center;
}

#game-container {
  display: inline-flex;
}

#game-info-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-top: 30px;
  width: 200px;

}

.instructions {
  width: 200px;
  margin-left: 0px;
}
*/
#game-pieces {
  background-color: #A9A9A9;
  padding-top: 5px;
  padding-bottom: 15px;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 576px) {
  .game-piece {
    align-self: baseline;
    max-width: 35px;
    min-width: 35px;
    min-height: 35px;
    max-height: 35px;
    margin-right: 2px;
  }
}

@media (min-width: 577px) {
  .game-piece {
    align-self: baseline;
    min-width: 50px;
    height: auto
  }
}


/*.selected-display {
  float: left;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 320px;
  height: 100px;
  margin-left: calc((100% - 320px)/2)
}*/

#game-board {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 240px;
  height: 240px
  position: relative;
  margin-top: 20px;
  margin-left: calc((100% - 240px)/2);
  padding: 0;
}

#footer {
  margin-top: 10px;
  margin-left: calc((100% - 240px)/2);
}

/*.overlay-msg {
  position: fixed;
  top: 35%;
  width: 200px;
  margin-left: 30%;
  border: 2px solid grey;
  visibility: hidden;
  z-index: 1000;
  background-color: white;
  text-align: center;
}
.game-board-container {
  display: flex;
  flex-direction: column;
}

.game-over {
  position: absolute;
  width: 350px;
  height: 100px;
  margin: -100px 0 0 320px;
  visibility: hidden;
  border: 2px solid grey;
  background-color: white;
  z-index: 1000;
  text-align: center;
  overflow: hidden;
}

.restart, #start-over {
  width: 150px;
  height: 40px;
  font-size: 18px;
}

.restart {
  margin-top: 20px;
  margin-left: calc((100% - 100px)/2);
}*/
