/*body {
  background-image: url(img/subtle_stripes.png);
}*/



/*.start-game {
  font-size: 24px;
  font-weight: bold;
  border-radius: 25px;
  text-align: center;
}

#game-container {
  display: inline-flex;
}

#game-info-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-top: 30px;
  width: 200px;

}

.instructions {
  width: 200px;
  margin-left: 0px;
}
*/

/* generic */

#game-pieces {
  background-color: #af7fbd;
  padding-top: 5px;
  padding-bottom: 15px;
  justify-content: space-between;
  width: 100%;
}

.game-piece {
  align-self: baseline;
}

#game-board {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  margin-top: 20px;
  padding: 0;
}

.cell {
  position: relative;
  border: 2px solid grey;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #9c71a8
}

#selected-display {
  height: 80px;
}

#footer {
  margin-top: 10px;
  margin-left: calc((100% - 240px)/2);
}

/* for small size screens */

@media (max-width: 576px) {
  .game-piece {
    width: 40px;
    height: 40px;
    margin-right: 2px;
  }

  .game-piece img {
    width: 40px;
    height: auto;
  }

  .cell {
    width: 70px;
    height: 70px;
    padding: 10px 10px 10px 10px
  }
  .cell img {
    height: 50px;
    width: auto;
    align-self: baseline;
  }

  #game-board {
    width: 280px;
    height: 280px;
    margin-left: calc((100% - 280px)/2);
  }
}

/* for large size screen */
@media (min-width: 577px) {
  .game-piece {
    align-self: baseline;
    width: 50px;
    height: auto
  }

  .game-piece img {
    height: auto;
    width: 50px
  }

  .cell {
    width: 80px;
    height: 80px;
    padding: 10px 10px 10px 10px
  }

  .cell img {
    height: 55px;
    width: auto;
    align-self: baseline;
  }

  #game-board {
    width: 320px;
    height: 320px;
    margin-left: calc((100% - 320px)/2);
  }
}



/*.overlay-msg {
  position: fixed;
  top: 35%;
  width: 200px;
  margin-left: 30%;
  border: 2px solid grey;
  visibility: hidden;
  z-index: 1000;
  background-color: white;
  text-align: center;
}
.game-board-container {
  display: flex;
  flex-direction: column;
}

.game-over {
  position: absolute;
  width: 350px;
  height: 100px;
  margin: -100px 0 0 320px;
  visibility: hidden;
  border: 2px solid grey;
  background-color: white;
  z-index: 1000;
  text-align: center;
  overflow: hidden;
}

.restart, #start-over {
  width: 150px;
  height: 40px;
  font-size: 18px;
}

.restart {
  margin-top: 20px;
  margin-left: calc((100% - 100px)/2);
}*/
